@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap');



$primary_color: #0a042d;
$secundary_color: #6400f9;
$acent_color: #f75f35;
$text_color: #e0e0e0eb;
$text_color_2: #00f746;
$background_color: #4A4A4A;
$circle-size: 100px;
$background-color: #4A4A4A;
$tertiary-color: #e0e0e0;
$fill-color: #f75f35;

.container-short-divider {
    .short-divider {
        height: 2px; /* Altura de la línea */
        width: 90%;
        background-color: #000; /* Color de la línea */
        border-bottom: 1px dashed #ccc; /* Borde inferior, estilo punteado */
        margin: 20px auto; /* Espaciado arriba y abajo */
    }
}

.styled-divider {
    height: 2px; /* Altura de la línea */
    width: 90%;
    background-color: #000; /* Color de la línea */
    border-bottom: 1px dashed #ccc; /* Borde inferior, estilo punteado */
    margin: 20px; /* Espaciado arriba y abajo */
}

.full-divider {
    height: 2px; /* Altura de la línea */
    width: 100%;
    background-color: #000; /* Color de la línea */
    border-bottom: 1px dashed #ccc; /* Borde inferior, estilo punteado */
    margin: 20px; /* Espaciado arriba y abajo */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans','Monserrat','sans-serif';
    background-color: $background_color;
    color: $text_color;
    overflow-x: hidden;
    
    h1 {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-size: 300%;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    h2 {
        width: 100%;
        margin: 0;
        font-size: 200%;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .img-hernan-container {
            overflow: hidden;
            width: 200px;
            height: 200px;
            margin-top: 150px;
            margin-bottom: 20px;
            border-style: outset;
            border-radius: 50%;
            border-color: $primary_color;


            .img-hernan {
                position: relative;
                width: 200px;
                top: -30px;
            }
        }

        .img-container {
            z-index: -1;
            position: absolute;
            border-bottom: #0a042d;
            background-color: $primary_color;
            justify-content: center;
            width: 100vw;
            height: 35vh;
            overflow: hidden;
            border-bottom-style: inset;

            .port-img {
                top: -150px;
                width: 100%; /* Ancho fijo de la imagen */
                height: auto; /* Mantiene la proporción */
            }
        }

        .contacto {
            margin: 20px;
            padding-bottom: 100px;
            a {
                padding: 4vw;  
                font-size: 150%;
                font-weight: bold;
                color: $primary_color;        
                text-shadow: 2px 2px 4px $tertiary-color;
            }
            img {
                width: 50px;
                height: 50px;
                background-color: $tertiary-color;
                border-radius: 15%;
                padding: 2px;
            }
        }
    }

    .titulo {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-style:inset;
        border-top: none;
        border-left: none;
        border-right: none;
        margin-bottom: 30px;

        h2 {
            width: 50%;
            background-color: $primary_color;
            text-align: center;
        }
    }

    .sobre-mi {
        background-color: $primary_color;
        display: flex;
        flex-direction: row;
        width: 100vw; /* Ajusta el ancho para que no se superponga con la barra lateral */
        height: 400px;
        color: #4A4A4A;
        overflow: hidden;

        .column {
            width: 60vw;
        }
        

        h3 {
            text-align: center;
        }
        .img-sobre-mi {
            width: 20vw;
            position: relative;
            bottom: 550px;
        }
    }

    .column {
        color: $text_color;
        width: 100%;
        margin: 15px;
        padding: 15px;
        display: flex;
        flex-direction: column;
        text-align: justify;
        overflow: auto;
        .img-sobre-mi {
            height: 20vw;
            width: 100%;
            overflow: hidden;
            img {
                position: relative;
                bottom: 600px;
                left: 200px
            };
        }
    }

    .container-proyectos {
        width: calc(100% - 150px); /* Ajusta el ancho para que no se superponga con la barra lateral */
        display: flex;
        flex-direction: row;
        margin: 0 auto;  /* Centra horizontalmente */
        text-align: center;

        p {
            text-align: center;
            padding: 25px;
        }

        img {
            padding: 10px;
            width: 70%;
            background-color: $primary_color;
        }
    }

    .educacion {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 15px;
        background-color: $primary_color;
    }

    .subtitulo {
        text-align: center;
    }

    footer {
        background-color: #000;
        color: white;
        text-align: center;
        padding-top: 10px;
        font-size: smaller;
        padding-bottom: 10px;
    }
    .tecnologias {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        img {
            width: 5vw;
            padding: 20px;
            background-color: $tertiary-color;
            margin: 2vw;
            border-radius: 10%;
        }
    }
    
    .fullstack {
        width: 100%;
        background-color: $primary_color;
        padding: 5px;
        margin-bottom: 15vh;
        text-align: center;
        justify-content: center;
    }

}


@media (max-width: 768px) {
    * {
        box-sizing: border-box; /* Asegura que el padding y el border estén dentro del ancho/alto */
    }
    body {
        overflow-x:auto;
        h1 {
            font-size: 30px;
        }
        h2 {
            font-size: 20px;
        }
        .fullstack {
            margin-bottom: 30vh;
        }
    }
    body .tecnologias {
        display: flex;
        flex-direction: row;
        img {
            padding: 0.5vw;
            width: 15vw;
        }
    }


    body .container-proyectos {
        padding: 0;
        width: 90%;
        p {
            display: none;
            text-align: justify;
            border-style: outset;
            margin: 5px;
            background-color: $primary_color;
        }
        .proyectos {
            .img {
                width: 90%;
            }
        }
    }

    body .titulo {
        width: 100%;
    }

    body .sobre-mi {
        padding: 0;
        height: auto;
        width: 100vw; /* Cambiar el ancho a 100% */
        flex-direction: column;

        .column {
            width: 90%;
        }
        .img-sobre-mi {
            display: none;
        }
    }

    body header {
        padding-left: 0;
    }

    body .educacion {
        padding-left: 0;
    }
    body footer {
        font-size: 10px;
        margin-top: 30px;
    }
}
