@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap");
body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.background {
  z-index: -2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, hsl(241, 100%, 30%), rgba(72, 72, 113, 0.6666666667));
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.content {
  position: relative;
  color: white;
  text-align: center;
  padding-top: 50px;
}

.container-short-divider .short-divider {
  height: 2px; /* Altura de la línea */
  width: 90%;
  background-color: #000; /* Color de la línea */
  border-bottom: 1px dashed #ccc; /* Borde inferior, estilo punteado */
  margin: 20px auto; /* Espaciado arriba y abajo */
}

.styled-divider {
  height: 2px; /* Altura de la línea */
  width: 90%;
  background-color: #000; /* Color de la línea */
  border-bottom: 1px dashed #ccc; /* Borde inferior, estilo punteado */
  margin: 20px; /* Espaciado arriba y abajo */
}

.full-divider {
  width: 100%;
  margin: 20vh; /* Espaciado arriba y abajo */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Monserrat", "sans-serif";
  background-color: #4A4A4A;
  color: rgba(224, 224, 224, 0.9215686275);
  overflow-x: hidden;
}
body h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 300%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
body h2 {
  width: 100%;
  margin: 0;
  font-size: 200%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
body header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body header .img-hernan-container {
  overflow: hidden;
  width: 200px;
  height: 200px;
  border-style: outset;
  border-radius: 50%;
  border-color: #0a042d;
  display: flex;
  background-color: white;
  margin-top: 5vh;
}
body header .img-container {
  z-index: -1;
  position: absolute;
  border-bottom: #0a042d;
  background-color: #0a042d;
  justify-content: center;
  width: 100vw;
  height: 35vh;
  overflow: hidden;
  border-bottom-style: inset;
}
body header .img-container .port-img {
  top: -150px;
  width: 100%; /* Ancho fijo de la imagen */
  height: auto; /* Mantiene la proporción */
}
body header .contacto {
  margin: 20px;
}
body header .contacto a {
  padding: 4vw;
  font-size: 150%;
  font-weight: bold;
  color: #0a042d;
  text-shadow: 2px 2px 4px #e0e0e0;
}
body header .contacto img {
  width: 50px;
  height: 50px;
  background-color: #e0e0e0;
  border-radius: 15%;
  padding: 2px;
}
body .titulo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: inset;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 30px;
  margin-top: 40px;
}
body .titulo h2 {
  width: 50%;
  background-color: #0a042d;
  text-align: center;
}
body .sobre-mi {
  background-color: #0a042d;
  display: flex;
  width: 100%; /* Ajusta el ancho para que no se superponga con la barra lateral */
  height: auto;
  color: #4A4A4A;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
body .sobre-mi .column {
  border-style: dashed;
  border-color: rgba(245, 245, 245, 0.525);
  background-color: black;
}
body .sobre-mi h3 {
  text-align: center;
}
body .sobre-mi .img-sobre-mi {
  display: none;
  width: 20vw;
  position: relative;
  bottom: 550px;
}
body .sobre-mi .column {
  color: rgba(224, 224, 224, 0.9215686275);
  width: 60%;
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  overflow: auto;
}
body .sobre-mi .column .img-sobre-mi {
  height: 20vw;
  width: 100%;
  overflow: hidden;
}
body .sobre-mi .column .img-sobre-mi img {
  position: relative;
  bottom: 600px;
  left: 200px;
}
body .container-proyectos {
  width: calc(100% - 150px); /* Ajusta el ancho para que no se superponga con la barra lateral */
  display: flex;
  flex-direction: row;
  margin: 0 auto; /* Centra horizontalmente */
  text-align: center;
}
body .container-proyectos p {
  text-align: center;
  padding: 25px;
}
body .container-proyectos img {
  padding: 10px;
  width: 70%;
  background-color: #0a042d;
}
body .educacion {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px;
  background-color: #0a042d;
}
body .subtitulo {
  text-align: center;
  margin-top: 50px;
}
body .subtitulo H3 {
  border-top: #e0e0e0;
  border-top-style: inset;
  border-width: 30px;
  background-color: #0a042d;
}
body footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding-top: 10px;
  font-size: smaller;
  padding-bottom: 10px;
}
body .tecnologias {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
body .tecnologias img {
  width: 5vw;
  padding: 20px;
  background-color: #e0e0e0;
  margin: 2vw;
  border-radius: 10%;
}
body .tecnologias img:hover {
  background-color: #000;
  background-color: white;
}
body .fullstack {
  width: 100%;
  background-color: #0a042d;
  padding: 5px;
  text-align: center;
  justify-content: center;
}

@media (max-width: 768px) {
  * {
    box-sizing: border-box; /* Asegura que el padding y el border estén dentro del ancho/alto */
  }
  body {
    overflow-x: auto;
  }
  body h1 {
    font-size: 30px;
    margin-top: 6vh;
  }
  body h2 {
    font-size: 20px;
  }
  body .fullstack {
    margin-bottom: 8vh;
    margin-top: 7vh;
  }
  body .tecnologias {
    display: flex;
    flex-direction: row;
  }
  body .tecnologias img {
    padding: 0.5vw;
    width: 13vw;
  }
  body .subtitulo {
    margin-top: 30px;
  }
  body .container-proyectos {
    padding: 0;
    width: 90%;
  }
  body .container-proyectos p {
    display: none;
    text-align: justify;
    border-style: outset;
    margin: 5px;
    background-color: #0a042d;
  }
  body .container-proyectos .proyectos .img {
    width: 90%;
  }
  body .titulo {
    width: 100%;
  }
  body .sobre-mi {
    padding: 0;
    height: 100%;
    width: 100vw; /* Cambiar el ancho a 100% */
    flex-direction: column;
  }
  body .sobre-mi .column {
    width: 90%;
    border-style: dashed;
    border-color: white;
  }
  body .sobre-mi .img-sobre-mi {
    display: none;
  }
  body header {
    padding-left: 0;
  }
  body header .img-hernan-container {
    margin-top: 5vh;
  }
  body header .img-hernan-container .img-hernan {
    width: 60vw;
    right: 30px;
  }
  body .educacion {
    padding-left: 0;
  }
  body footer {
    font-size: 5px;
    margin-top: 30px;
  }
  .full-divider {
    width: 100%;
    margin: 10vh; /* Espaciado arriba y abajo */
  }
}

/*# sourceMappingURL=styles.css.map */
