@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap");
.container-short-divider .short-divider {
  height: 2px; /* Altura de la línea */
  width: 90%;
  background-color: #000; /* Color de la línea */
  border-bottom: 1px dashed #ccc; /* Borde inferior, estilo punteado */
  margin: 20px auto; /* Espaciado arriba y abajo */
}

.styled-divider {
  height: 2px; /* Altura de la línea */
  width: 90%;
  background-color: #000; /* Color de la línea */
  border-bottom: 1px dashed #ccc; /* Borde inferior, estilo punteado */
  margin: 20px; /* Espaciado arriba y abajo */
}

.full-divider {
  height: 2px; /* Altura de la línea */
  width: 100%;
  background-color: #000; /* Color de la línea */
  border-bottom: 1px dashed #ccc; /* Borde inferior, estilo punteado */
  margin: 20px; /* Espaciado arriba y abajo */
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", "Monserrat", "sans-serif";
  background-color: #4A4A4A;
  color: rgba(224, 224, 224, 0.9215686275);
  overflow-x: hidden;
}
body h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 300%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
body h2 {
  width: 100%;
  margin: 0;
  font-size: 200%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
body header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
body header .img-hernan-container {
  overflow: hidden;
  width: 200px;
  height: 200px;
  margin-top: 100px;
  margin-bottom: 20px;
  border-style: outset;
  border-radius: 50%;
  border-color: #0a042d;
}
body header .img-hernan-container .img-hernan {
  position: relative;
  width: 200px;
  top: -30px;
}
body header .img-container {
  z-index: -1;
  position: absolute;
  border-bottom: #0a042d;
  width: 100%;
  height: 35vh;
  overflow: hidden;
  border-top: #0a042d;
  border-style: outset;
}
body header .img-container .port-img {
  top: -150px;
  width: 100%; /* Ancho fijo de la imagen */
  height: auto; /* Mantiene la proporción */
}
body header .contacto {
  margin: 20px;
  padding-bottom: 100px;
}
body header .contacto a {
  padding: 2px;
  border-radius: 2%;
  font-size: 150%;
  font-weight: bold;
  color: #0a042d;
  text-shadow: 2px 2px 4px white;
}
body .titulo {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: inset;
  border-top: none;
  border-left: none;
  border-right: none;
  margin-bottom: 30px;
}
body .titulo h2 {
  width: 50%;
  background-color: #0a042d;
  text-align: center;
}
body .sobre-mi {
  background-color: #0a042d;
  display: flex;
  flex-direction: row;
  width: 100%; /* Ajusta el ancho para que no se superponga con la barra lateral */
  height: auto;
  color: #4A4A4A;
}
body .sobre-mi h3 {
  text-align: center;
}
body .column {
  color: rgba(224, 224, 224, 0.9215686275);
  width: 100%;
  margin: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  overflow: auto;
}
body .column .img-sobre-mi {
  height: 20vw;
  width: 100%;
  overflow: hidden;
}
body .column .img-sobre-mi img {
  position: relative;
  bottom: 600px;
  left: 200px;
}
body .container-proyectos {
  width: calc(100% - 150px); /* Ajusta el ancho para que no se superponga con la barra lateral */
  display: flex;
  flex-direction: row;
  margin: 0 auto; /* Centra horizontalmente */
  text-align: center;
}
body .container-proyectos p {
  text-align: center;
  padding: 25px;
}
body .container-proyectos img {
  padding: 10px;
  width: 70%;
  background-color: #0a042d;
}
body .educacion {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 15px;
  background-color: #0a042d;
}
body .subtitulo {
  text-align: center;
}
body footer {
  background-color: #000;
  color: white;
  text-align: center;
  padding-top: 10px;
  font-size: smaller;
  padding-bottom: 10px;
}
body .progress-container {
  padding-top: 60px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
body .progress-container h3 {
  color: rgba(224, 224, 224, 0.9215686275);
  padding-bottom: 20px;
}
body .progress-container .progress-bar {
  padding: 25px;
  margin-bottom: 20px;
}
body .progress-container .progress-bar label {
  font-size: 18px;
  color: rgba(224, 224, 224, 0.9215686275);
}
body .progress-container .progress-bar .bar {
  background-color: #e0e0e0;
  border-radius: 5px;
  width: 100%;
  height: 20px;
  position: relative;
  margin-top: 5px;
}
body .progress-container .progress-bar .progress {
  height: 100%;
  border-radius: 5px;
  background-color: #0a042d;
  width: 0%; /* Se ajustará dinámicamente con JavaScript */
  transition: width 2s ease;
}
body .progress-container .python {
  background-color: #4B8BBE;
}
body .progress-container .java {
  background-color: #B07219;
}
body .progress-container .javascript {
  background-color: #F0DB4F;
}
body .progress-container .php {
  background-color: #4F5D95;
}
body .progress-container .html {
  background-color: #E34C26;
}
body .progress-container .css {
  background-color: #264DE4;
}
body .progress-container .scss {
  background-color: #C6538C;
}
body .checklist {
  background-color: #0a042d;
  display: flex;
  flex-direction: row;
  align-content: center;
}
body .checklist div {
  margin-left: 10%;
  padding: 10px;
  width: 50%;
}
body .checklist h3 {
  text-align: left;
  color: rgba(224, 224, 224, 0.9215686275);
}
body .checklist ul {
  list-style-type: none;
  padding: 0;
}
body .checklist li {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
body .checklist input[type=checkbox] {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  cursor: zoom-in;
}
body .checklist label {
  font-size: 20px;
  color: rgba(224, 224, 224, 0.9215686275);
}
body .checklist input[type=checkbox]:checked + label {
  color: #00f746;
}
body .checklist input[type=checkbox]:checked::before {
  font-size: 20px;
  margin-right: 5px;
}
body .fullstack {
  width: 100%;
  background-color: #0a042d;
}

@media (max-width: 768px) {
  * {
    box-sizing: border-box; /* Asegura que el padding y el border estén dentro del ancho/alto */
  }
  body {
    overflow-x: auto;
  }
  body h1 {
    font-size: 30px;
  }
  body h2 {
    font-size: 20px;
  }
  body .checklist {
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  body .checklist div {
    width: 100;
    flex-direction: column;
  }
  body .container-proyectos {
    padding: 0;
    width: 90%;
  }
  body .container-proyectos p {
    text-align: justify;
    border-style: outset;
    margin: 5px;
    background-color: #0a042d;
  }
  body .container-proyectos .proyectos .img {
    width: 90%;
  }
  body .titulo {
    width: 100%;
  }
  body .sobre-mi {
    padding: 0;
    height: auto;
    width: 100vw; /* Cambiar el ancho a 100% */
    flex-direction: column;
  }
  body .sobre-mi .column {
    width: 90%;
  }
  body .sobre-mi .column .img-sobre-mi {
    display: none;
  }
  body header {
    padding-left: 0;
  }
  .aside {
    visibility: hidden; /* Prueba ocultando visibilidad */
    opacity: 0;
  }
  body .educacion {
    padding-left: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
